.watchHistory{
    text-decoration: none;
    color: rgb(54, 99, 246);
        font-family: 'Poppins', sans-serif;
font-weight: 600;
    background-color: transparent;
}
.watchHistory:hover{
    color: rgb(4, 4, 255);
}
.heading h1{
font-weight: 800;color: rgba(255, 255, 255, 0.796);
}
.watchHistory i{
    filter: invert();
}
